/* Place CSS styles here */
body {
    color: darkblue;
    font-family: 'Playfair Display', serif;
    background: 
    linear-gradient(
        rgb(8, 6, 119),
        rgb(255, 255, 255)
    ),
    url(../img/FC+Barcelona+v+Granada+CF+La+Liga+2zJyp4K3CHhx.jpg);

    background-size: cover;
}

@media and (max-width:600px) {
    
}
img, picture, video {
    max-width: 100%;
  }
  
  