/* Place CSS styles here */
body {
    color: darkblue;
    font-family: 'Playfair Display', serif;
    background: 
    linear-gradient(
        rgb(8, 6, 119),
        rgba(8, 6, 119)
    ),
    url(../img/FC+Barcelona+v+Granada+CF+La+Liga+2zJyp4K3CHhx.jpg);

    background-size: cover;
}

@media and (max-width:600px) {
    
}
img, picture, video {
    max-width: 100%;
  }
  
  .kitkat-intro-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .kitkat-audio {
    margin-bottom: 32px;
  }
  
  .kitkat-intro-image {
    width: 200px;
  }
  
  /* table view */
  @media screen and (min-width: 768px) {
    .kitkat-intro-image {
      width: 410px;
      border: 10px solid #e94a4a;
    }
  }
  
  .kitkat-intro-paragraph {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .kitkat-intro-paragraph-no {
    text-transform: uppercase;
    color: #e94a4a;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 80px;
    transition: all 1s ease;
  }
  
  .kitkat-intro-paragraph-no:hover {
    text-shadow: 0 0 20px white;
    font-size: 120px;
  }
  
  .kitkat-intro-paragraph-drinking {
    font-family: 'Lobster', cursive;
    transition: all 1s ease;
  }
  
  @media screen and (min-width: 768px) {
    .kitkat-intro-paragraph-drinking {
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      font-size: 80px;
      text-transform: uppercase;
      color: #e94a4a;
    }
  }
  
  /* Wobble Skew */
  @-webkit-keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }